@import "../styles/fonts.scss";
@import "../styles/mixins.scss";
@import "../styles/variables.scss";

.donate {
  @include tablet {
    // height: 100vh;
  }
}

.donation {
  width: 95%;
  max-width: 90rem;
  background: rgba(255, 255, 255, 1);
  border-radius: 1rem;
  margin: 2rem auto;
  @include flex(column-reverse, center, center);
  @include tablet {
    @include flex(row, center, center);
  }
}
