@import "../styles/fonts.scss";
@import "../styles/mixins.scss";
@import "../styles/variables.scss";

.donation-details {
  width: 100%;
  padding: 3rem 2rem;
  &__greeting {
    font-size: 1.8rem;
    margin: 1rem 0;
    text-align: center;
    text-transform: uppercase;
  }
  &__message {
    font-size: 1.5rem;
    margin-bottom: 1rem;
    & > span {
      font-weight: 500;
    }
  }
  &__micdrop {
    @include red-bangers;
    margin: 2rem 0;
    letter-spacing: 0.3rem;
    text-align: center;
    font-size: 3rem;
  }
}
