@import "../styles/fonts.scss";
@import "../styles/mixins.scss";
@import "../styles/variables.scss";

.payment__currency-list {
  border: 2px solid #d6d6d6;
  border-radius: 0.5rem;
  height: 2.5rem;
  margin-right: 1.5rem;
}

.ccInfo {
  & > div {
    margin: 1rem auto 0 auto;
  }
  &__input {
    width: 100%;
    border: 1px solid #d6d6d6;
    & > img {
      height: 1.4rem;
    }
    & > label {
      font-size: 1.5rem;
    }
  }
}

#amount {
  margin-left: 1rem;
  width: fit-content;
}
.form-label--amount {
  margin-top: 2rem;
}
